<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/placeholder.css" rel="stylesheet">
</head>

<body>
    <div class="back">
		<i class="fas fa-arrow-left"></i>
	</div>

    <div class="content">
		<h1>This is a placeholder page for collections</h1>
	</div>
</body>
</html>