.search{
    position: absolute;
    width: 50%;
    height: 70px;
    left: 25%;
    top: 10%;

    background: #FFFFFF;
    border: 5px solid #C4C4C4;
    box-sizing: border-box;
}
.searchText{
    /* Search a word */

    position: absolute;
    width: 216px;
    height: 37px;
    left: 10%;
    top: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.displayText{
    /* Search a word */

    position: absolute;
    width: 216px;
    height: 37px;
    left: 32%;
    top: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 28px;

    color: #000000;
}
.searchedTimes{
    /* you have searhced it for 30 times! */
    position: absolute;
    width: 218px;
    height: 32px;
    left: 32%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}
.content{
    /* Rectangle 19 */
    position: absolute;
    width: 74%;
    height: 50%;
    left: 13%;
    top: 45%;

    background: #FFFFFF;
    border: 5px solid #848383;
    box-sizing: border-box;
}
.explanation{
    position: absolute;
    width: 414px;
    height: 208px;
    left: 5%;
    top: 1%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.addCol{
    position: absolute;
    width: 70%;
    height: 6%;
    left: 15%;
    top: 37%;

    background: #C4C4C4;
    border-radius: 20px;
    font-size: 30px;
}